*{
    background-color: #F5F5F5;
}

/**Encabezado**/

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1136px;
    height: 88px;
    padding-top: 0px;
    padding-bottom: 32px;
    margin: 0 auto 0 auto;
}
a{
    outline: none;
    text-decoration: none;
    color: black;
}
a:active{
    color: black;
}
a:visited{
    color: black;
}
.encabezado_navegacion_estrellas{
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 20px;
}
.encabezado_navegacion_jhon{
    font-weight: 700;
    font-family: "Raleway";
    font-size: 16px;
    line-height: 18.78px;
}
.encabezado_navegacion{
    display: flex;
    align-items: center;
}
.encabezado_navegacion_lista{
    list-style: none;
    display: flex;
    gap: 24px;
}
.encabezado_navegacion_lista a{
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}
.encabezado_navegacion_lista_contacto a{
    font-weight: 700;
}

/**Contenido**/

.informacion_presentacion_miFoto{
    width: 368px;
    height: 368px;
}
.informacion_presentacion{
    width: 1136px;
    height: 368px;
    font-family: "Raleway";
    margin: auto;
    display: flex;
}
h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 61.05px;
    padding-bottom: 10px;
}
.informacion_presentacion_contenido{
    width: 751px;
    height: 246px;
    gap: 24px;
}
.informacion_presentacion_contenido_texto{
    font-weight: 400;
    font-size: 22px;
    line-height: 25.83px;
    padding: 15px 0;
    justify-content: center;
}
.informacion_presentacion_contenido_link a{
    width: 467;
    height: 24px;
    gap: 32px;
}

/**Informacion sobre Mi**/

.informacion_sobreMi{
    background-color: #EAF2FD;
    width: 100%;
    height: 383px;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.informacion_sobreMi_contenido{
    width: 1136px;
    height: 255px;
    gap: 16px;
    background-color: #EAF2FD;
}
.informacion_sobreMi_contenido_titulo{
    background-color: #EAF2FD;
    margin-right: 400px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    margin-bottom: 20px;
}
.informacion_sobreMi_contenido_texto{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    padding: 10px 0;
    font-family: "Raleway";
    background-color: #EAF2FD;
}

/**Mis conocimientos**/

.informacion_skills{
    font-family: "Raleway";
}
.informacion_skills_titulo{
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    margin-bottom: 40px;

}
.informacion_skills_contenido{
    width: 1136px;
    height: 244px;
    gap: 8px;
    display: flex;
    margin: auto;

}
.informacion_skills_contenido_lenguajes{
    background-color: #FFFFFF;
    width: 176px;
    height: 174px;
    padding: 16px;
    position: relative;
}
.informacion_skills_contenido_lenguajes h3{
    background-color: #FFFFFF;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    bottom: 0;
    padding-bottom: 15px;
    width: 144px;
    height: 19px;
}
.informacion_skills_contenido_lenguajes img{
    position: absolute;
    font-size: 32px;
    font-weight: 400;
    line-height: 18.78px;
    bottom: 0;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

/**Mis hobbies**/

.informacion_hobbies{
    font-family: "Raleway";
}
.informacion_hobbies_titulo{
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    margin-bottom: 40px;

}
.informacion_hobbies_contenido{
    width: 1136px;
    height: 244px;
    gap: 8px;
    display: flex;
    margin: auto;

}
.informacion_hobbies_contenido_pasion{
    background-color: #FFFFFF;
    width: 176px;
    height: 174px;
    padding: 16px;
    position: relative;
}
.informacion_hobbies_contenido_pasion h3{
    background-color: #FFFFFF;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    bottom: 0;
    padding-bottom: 15px;
    width: 144px;
    height: 19px;
}
.informacion_hobbies_contenido_pasion img{
    position: absolute;
    font-size: 32px;
    font-weight: 400;
    line-height: 18.78px;
    bottom: 0;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

/**Mi formacion**/

.informacion_formacion{
    padding: 82px;
    gap: 32px;
    background-color: #EAF2FD;
    font-family: "Raleway";
    margin: auto;

}
.informacion_formacion_titulo{
    background-color: #EAF2FD;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    text-align: center;
    padding-bottom: 30px;
}
.informacion_formacion_contenido div{
    width: 368px;
    height: 347px;
    background-color: #FFFFFF;
    position: relative;
}
.informacion_formacion_contenido img{
    width: 192px;
    height: 130px;
    display: block;
    background-color: #FFFFFF;
    position: absolute;
    transform: translate(45%, 50%);
}
.informacion_formacion_contenido span{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #EAF2FD;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    padding-top: 20px;
    
}
.informacion_formacion_contenido{
    display: flex;
    gap: 16px;
    width: 1136px;
    height: 347px;
    background-color: #EAF2FD;
    margin: auto;
    
}
.informacion_formacion strong{
    background-color: #EAF2FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}

/**Mi experiencia**/

.informacion_experiencia{
    font-family: "Raleway";
}
.informacion_experiencia_titulo{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    padding: 40px 0 10px;
}
.infomacion_experiencia_derecha{
    display: flex;
    width: 1136px;
    height: 406px;
    gap: 16px;
    margin: auto;
    padding: 20px 0;
}
.informacion_experiencia img{
    width: 752px;
    height: 406px;
}
.infomacion_experiencia_derecha_contenido, .infomacion_experiencia_izquierda_contenido{
    margin: auto 0;
    width: 368px;
    height: 138px;
    gap: 8px;
}
.infomacion_experiencia_derecha_contenido h3, .infomacion_experiencia_izquierda_contenido h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}
.infomacion_experiencia_derecha_contenido p, .infomacion_experiencia_izquierda_contenido p{
    padding: 5px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    padding-bottom: 29px;

}
.infomacion_experiencia_derecha_contenido_link1, .infomacion_experiencia_izquierda_link1:visited{
    color: #2A7AE4;
}
.infomacion_experiencia_derecha_contenido_link1, .infomacion_experiencia_izquierda_link1{
    border: 1px solid;
    padding: 16px;
}
.informacion_experiencia_derecha_contenido_link2, .infomacion_experiencia_izquierda_link2:visited{
    color: #FFFFFF;
}
.informacion_experiencia_derecha_contenido_link2, .infomacion_experiencia_izquierda_link2{
    color: #fafafa;
    background-color: #2A7AE4;
    border: 1px solid;
    padding: 16px;
}
.infomacion_experiencia_izquierda{
    padding: 20px 0;
    display: flex;
    margin: auto;
    width: 1136px;
    height: 406px;
    gap: 16px;
}

/**contacto**/

.contactarnos{
    width: 1440px;
    height: 788px;
    padding: 64px;
    gap: 10px;
    margin: auto;
    background-color: #EAF2FD;
}
.contactarnos_contenido{
    display: flex;
    width: 1136px;
    height: 660px;
    padding-top: 64px;
    gap: 16px;
    background-color: #EAF2FD;
}
.contactarnos_contenido img{
    width: 464px;
    height: 593px;

}
.contactarnos_contenido_formulario{
    width: 656px;
    height: 596px;
    gap: 32px;
    font-family: "Raleway";
}
.contactarnos h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    padding-bottom: 10px;
    background-color: #EAF2FD;
    color: #464646;
}
.contactarnos p{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
    padding-bottom: 30px;
    background-color: #EAF2FD;
    color: #464646;
}
#contacto{
    width: 656px;
    height: 397px;
    gap: 32px;
    font-family: "Raleway";
}
.contactarnos_contenido_formulario_elemento{
    width: 656px;
    height: 86px;
    padding: 5px;
    background-color: #EAF2FD;
}
.contactarnos_conetnido_formulario_elemento_name{
    width: 656px;
    height: 40px;
    gap: 4px;
    display: flex;
    justify-content: left;
    padding: 5px;
}
.contactarnos_conetnido_formulario_elemento_tex input{
    width: 100%;
    height: 20px;
    gap: 4px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    padding-right: 0px;
    padding-left: 0px;
}
.elemento_name label{
    margin-right: auto;
    text-align: left;
    padding: 12px 10px;
    font-size: 13px;
    font-weight: 400;
    color: #A2A2A2;
}
.contactarnos_conetnido_formulario_elemento_tex input:focus{
    border-bottom: 2px solid #2A7AE4;
}
#men{
    height: 122.5px;
}
#mensaje{
    height: 70px;
}
#boton input{
    width: 144px;
    height: 51px;
    background-color: #2A7AE4;
    color: #FFFFFF;
    border: none;
    
}
#boton input[type="submit"]{
    font-size: 18px;
    font-family: "Raleway";
}
.derechos{
    width: 1440px;
    height: 120px;
    padding: 32px;
    gap: 10px;
    margin: auto;
}

/**Pie de pagina**/

.derechos_autor{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
    font-family: "Raleway";
}
.derechos_autor p{
    text-align: center;
    padding: 40px 0;
}
.derechos_autor strong{
    display: inline-block;
}